<div class="box_form">
<%= title_edit :discipline %>
<%= error_messages_for :discipline %>

<% form_for(:discipline, :url => object_url, :html => { :method => :put }) do |f| %>
<fieldset>
  <%= render :partial => "form", :locals => { :f => f } %>
  <label class="x-small lblbutton"><%= submit_tag "Atualizar", :class => "button" %></label>
  <label class="x-small" style="text-align: right;"><%= link_to 'Cancelar', collection_url %></label>
</fieldset>
<% end %>
</div>