<h1>Listing Disciplines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Teacher</th>
  </tr>
  <%- @disciplines.each do |discipline|%>
    <tr>
      <td><%=h discipline.name %></td>
      <td><%=h discipline.teacher %></td>
    
      <td><%=link_to 'Show', object_url(discipline) %></td>
      <td><%=link_to 'Edit', edit_object_url(discipline) %></td>
      <td><%=link_to 'Destroy', object_url(discipline), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Discipline', new_object_url %>