<%= link_add_to_remote %>

<table class="tbldata">
  <thead>
    <tr>
      <th><%=_ 'Name' %></th>
    </tr>
  </thead>
  <tbody>
    <%- @disciplines.each do |discipline|%>
      <tr>
        <td><%=h discipline.name %></td>
      
        <td><%= link_edit_to_remote(discipline) %></td>
        <td><%= link_delete(discipline) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
