<%= link_add_to_remote %>

<table class="tbldata">
  <thead>
    <tr>
      <th><%=_ 'Name' %></th>
      <th><%=_ 'Capacity' %></th>
      <th><%=_ 'External?' %></th>
    </tr>
  </thead>
  <tbody>
    <%- @classrooms.each do |classroom| %>
      <tr>
        <td><%=h classroom.name %></td>
        <td style="text-align: center;"><%=h classroom.capacity %></td>
        <td><%=_ classroom.external.to_s %></td>
      
        <td><%= link_edit_to_remote(classroom) %></td>
        <td><%= link_delete(classroom) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
