<h4><%= _('Personal info') %></h4>

<label class="x-large"><%=_ 'Name' %> <%= f.text_field :name, :class => "textfield" %></label><br />
<label class="small"><%=_ 'CPF' %> <%= f.text_field :cpf, :class => "textfield" %></label>
<label class="small"><%=_ 'RG' %> <%= f.text_field :rg, :class => "textfield" %></label>
<label class="small"><%=_ 'Kinship' %> <%= f.text_field :kinship, :class => "textfield" %></label><br />


<h4><%= _('Phones') %></h4>
  
<label class="small"><%=_ 'Home Phone' %> <%= f.text_field :home_phone, :class => "textfield" %></label>
<label class="small"><%=_ 'Comercial Phone' %> <%= f.text_field :comercial_phone, :class => "textfield" %></label>
<label class="small"><%=_ 'Mobile Phone' %> <%= f.text_field :mobile_phone, :class => "textfield" %></label><br />

<h4><%= _('Address') %></h4>

<label class="large"><%=_ 'Street' %> <%= f.text_field :address_street, :class => "textfield" %></label>
<label class="small"><%=_ 'Number' %> <%= f.text_field :address_number, :class => "textfield" %></label><br />
<label class="large"><%=_ 'Complement' %> <%= f.text_field :address_complement, :class => "textfield" %></label><br />
<label class="large"><%=_ 'Neighbourhood' %> <%= f.text_field :address_neighbourhood, :class => "textfield" %></label>
<label class="small"><%=_ 'Zip' %> <%= f.text_field :address_zip, :class => "textfield" %></label><br />

<h4><%= _('Contract') %></h4>

<label class="large"><%=_ 'Classe' %>
  <%= f.collection_select :classe_id, Classe.find(:all), :id, :name, {}, :class => "select" %>
</label>
<label class="small"><%=_ 'Registration value' %> <%= f.text_field :registration_value, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Financing tranche' %> <%= f.text_field :installment_value, :class => "textfield" %></label>
<label class="small"><%=_ 'Tranche number' %> <%= f.text_field :installment_number, :class => "textfield" %></label>
<label class="small"><%=_ 'First due date' %> <%= text_field_tag(:first_due_date, "", {:class => "textfield"})%></label><br />

<label class="small"><%=_ 'Bank Number' %> <%= text_field_tag(:bank_number, "", {:class => "textfield"})%></label>
<label class="small"><%=_ 'Bank Branch' %> <%= text_field_tag(:bank_branch, "", {:class => "textfield"})%></label>
<label class="small"><%=_ 'Bank Account' %> <%= text_field_tag(:bank_account, "", {:class => "textfield"})%></label><br />

<label class="small"><%=_ 'Bank First Check' %> <%= text_field_tag(:bank_first_check, "", {:class => "textfield"})%></label>

<script type="text/javascript">
  function select_last_installment_input_for(input_name){
    return $$('div.installment').last().down('input#contract_new_installment_attributes__' + input_name);
  }

  function insert_installment_partial(){
    <%= update_page do |page|
      page.insert_html :bottom, :installments, :partial => 'installment', :object => Installment.new
    end %>
  }

  function set_default_installment_values(){
    select_last_installment_input_for('bank_number').value = $('bank_number').value;
    select_last_installment_input_for('bank_branch').value = $('bank_branch').value;
    select_last_installment_input_for('bank_account').value = $('bank_account').value;
  }

  function create_registration_installment(){
    insert_installment_partial();
    select_last_installment_input_for('value').value = $('contract_registration_value').value;
    select_last_installment_input_for('due_date').value = $('first_due_date').value;
    select_last_installment_input_for('bank_check').value = $('bank_first_check').value;

    set_default_installment_values();
  }

  function create_installment(n){
    insert_installment_partial();
    select_last_installment_input_for('value').value = $('contract_installment_value').value;
    select_last_installment_input_for('due_date').value = $('first_due_date').value;
    select_last_installment_input_for('bank_check').value = Number($('bank_first_check').value) + n;

    set_default_installment_values();
  }

  function create_installments(){
    create_registration_installment();

    Number($('contract_installment_number').value).times(function(n){
      create_installment(n + 1);
    });
  }
</script>

<label class="small" style="margin: 20px 0 0 0; text-align: center;"><%= link_to_function _('Add %s', _('Installments')) do |page|
  page['installments'].update
  page << "create_installments();"
end %></label><br />

<h4><%= _('Installments') %></h4>

<div id="installments">
  <p><%= render :partial => 'installment', :collection => @contract.installments %></p>
</div>
<p><%= link_to_function _('Add %s', _('Installment')), 'insert_installment_partial()' %></p>
