<p>
  <label for="contract_name"><%=_ 'Name' %>:</label>
  <%= f.text_field :name %>
</p>
<p>
  <label for="contract_street"><%=_ 'Street' %>:</label>
  <%= f.text_field :street %>
</p>
<p>
  <label for="contract_number"><%=_ 'Number' %>:</label>
  <%= f.text_field :number %>
</p>
<p>
  <label for="contract_complement"><%=_ 'Complement' %>:</label>
  <%= f.text_field :complement %>
</p>
<p>
  <label for="contract_neibourhood"><%=_ 'Neighbourhood' %>:</label>
  <%= f.text_field :neighbourhood %>
</p>
<p>
  <label for="contract_zip"><%=_ 'Zip' %>:</label>
  <%= f.text_field :zip %>
</p>
<p>
  <label for="contract_home_phone"><%=_ 'Home Phone' %>:</label>
  <%= f.text_field :home_phone %>
</p>
<p>
  <label for="contract_comercial_phone"><%=_ 'Comercial Phone' %>:</label>
  <%= f.text_field :comercial_phone %>
</p>
<p>
  <label for="contract_mobile_phone"><%=_ 'Mobile Phone' %>:</label>
  <%= f.text_field :mobile_phone %>
</p>
<p>
  <label for="contract_cpf"><%=_ 'CPF' %>:</label>
  <%= f.text_field :cpf %>
</p>
<p>
  <label for="contract_rg"><%=_ 'RG' %>:</label>
  <%= f.text_field :rg %>
</p>
<p>
  <label for="contract_kinship"><%=_ 'Kinship' %>:</label>
  <%= f.text_field :kinship %>
</p>
<p>
  <label for="contract_registration_value">Registration value:</label>
  <%= f.text_field :registration_value %>
</p>
<p>
  <label for="contract_financing_tranche">Financing tranche:</label>
  <%= f.text_field :financing_tranche %>
</p>
<p>
  <label for="contract_financing_tranche_number">Financing tranche number:</label>
  <%= f.text_field :financing_tranche_number %>
</p>
