<div class="box_form">
<%= title_edit :contract %>
<%= error_messages_for :contract %>

<% form_for(:contract, :url => object_url, :html => { :method => :put }) do |f| %>
  <fieldset>
  <%= render :partial => "form", :locals => { :f => f } %>
  <label class="x-small lblbutton"><%= submit_tag "Update", :class => "button" %></label>
  <label class="x-small" style="text-align: right;"><%= link_to 'Cancelar', collection_url %></label>
  </fieldset>
<% end %>
</div>
<br/>

<p><%= link_to 'Show', object_url %> | <%= link_to 'Back', collection_url %></p>