<%= link_to 'New Contract', new_object_url %>

<table class="tbldata">
  <tr>
    <th>Registration value</th>
    <th>Financing tranche</th>
    <th>Financing tranche number</th>
  </tr>
  <%- @contracts.each do |contract|%>
    <tr>
      <td><%=h contract.registration_value %></td>
      <td><%=h contract.installment_value %></td>
      <td><%=h contract.installment_number %></td>
    
	  <td><%= link_to(image_tag("icons/copy.png"), contract) %></td>
      <td><%= link_edit_to_remote(contract) %></td>
      <td><%= link_delete(contract) %></td>
		
    </tr>
  <% end %>
</table>
<br/>