<div class="box_form">
<%= title_new :contract %>

<%= error_messages_for :contract %>

<% form_for(:contract, :url => student_contracts_url) do |f| %>
  <fieldset>
  <%= render :partial => "form", :locals => { :f => f } %>
  <label class="x-small lblbutton"><%= submit_tag "Create", :class => "button" %></label>
  <label class="x-small" style="text-align: right;"><%= link_to 'Cancelar', collection_url %></label>
  </fieldset>
<% end %>
<br/>
<%= link_to 'Back', collection_url %>
</div>