<p>
  <strong>Registration value:</strong><%=h @contract.registration_value %>
</p>
<p>
  <strong>Financing tranche:</strong><%=h @contract.financing_tranche %>
</p>
<p>
  <strong>Financing tranche number:</strong><%=h @contract.financing_tranche_number %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>