<label class="x-large"><%=_ 'Name' %> <%= f.text_field :name, :class => "textfield" %></label><br />
<label class="x-large"><%=_ 'Street' %> <%= f.text_field :street, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Number' %> <%= f.text_field :number, :class => "textfield" %></label>
<label class="large"><%=_ 'Complement' %> <%= f.text_field :complement, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Neighbourhood' %> <%= f.text_field :neighbourhood, :class => "textfield" %></label>
<label class="small"><%=_ 'Zip' %> <%= f.text_field :zip, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Home Phone' %> <%= f.text_field :home_phone, :class => "textfield" %></label>
<label class="small"><%=_ 'Comercial Phone' %> <%= f.text_field :comercial_phone, :class => "textfield" %></label>
<label class="small"><%=_ 'Mobile Phone' %> <%= f.text_field :mobile_phone, :class => "textfield" %></label><br />
<label class="small"><%=_ 'CPF' %> <%= f.text_field :cpf, :class => "textfield" %></label><br />
