<label class="x-large"><%=_ 'Name' %> <%= f.text_field :name, :class => "textfield" %></label><br />
<label class="x-large"><%=_ 'Street' %> <%= f.text_field :address_street, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Number' %> <%= f.text_field :address_number, :class => "textfield" %></label>
<label class="large"><%=_ 'Complement' %> <%= f.text_field :address_complement, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Neighbourhood' %> <%= f.text_field :address_neighbourhood, :class => "textfield" %></label>
<label class="small"><%=_ 'Zip' %> <%= f.text_field :address_zip, :class => "textfield" %></label><br />
<label class="small"><%=_ 'State' %> <%= f.text_field :address_state, :class => "textfield" %></label>
<label class="small"><%=_ 'City' %> <%= f.text_field :address_city, :class => "textfield" %></label><br />
<label class="small"><%=_ 'Home Phone' %> <%= f.text_field :home_phone, :class => "textfield" %></label>
<label class="small"><%=_ 'Comercial Phone' %> <%= f.text_field :comercial_phone, :class => "textfield" %></label>
<label class="small"><%=_ 'Mobile Phone' %> <%= f.text_field :mobile_phone, :class => "textfield" %></label><br />
<label class="small"><%=_ 'CPF' %> <%= f.text_field :cpf, :class => "textfield" %></label>
<label class="small"><%=_ 'RG' %> <%= f.text_field :rg, :class => "textfield" %></label>
<label class="small"><%=_ 'Birth' %> <%= f.text_field :birth, :class => "textfield" %></label><br />
