<div class="box_form">
<%= title_new :student %>
<%= error_messages_for :student %>

<% form_for(:student, :url => collection_url) do |f| %>
 <fieldset>
  <%= render :partial => "form", :locals => { :f => f } %>
  <%= create_button_and_cancel_link_to_clear_box_form %>
 </fieldset>
<% end %>
</div>
<br/>
<%= link_to 'Back', collection_url %>