<table style="width: 100%; border: 1px solid #e9e9e9;">
  <tr>
    <td><p><strong><%= _('Name') %>:</strong><%=h @student.name %></p></td>
    <td><p><strong><%= _('Birth') %>:</strong><%= _('(date)', @student.birth) %></p></td>
  </tr>
  <tr>
    <td><p><strong><%= _('Street') %>:</strong><%=h @student.address_street %>, <%=h @student.address_number %>
        <%=h " - #{@student.address_complement}" if @student.address_complement %>
    </p></td>
    <td><p><strong><%= _('Neighbourhood') %>:</strong><%=h @student.address_neighbourhood %></p></td>
  </tr>
  <tr>
    <td><p><strong><%= _('Zip') %>:</strong><%=h @student.address_zip %></p></td>
    <td><p><strong><%= _('City') %>:</strong><%=h @student.address_city %></p></td>
    <td><p><strong><%= _('State') %>:</strong><%=h @student.address_state %></p></td>
  </tr>
  <tr>
    <td><p><strong><%= _('Home Phone') %>:</strong><%=h @student.home_phone %></p></td>
    <td><p><strong><%= _('Comercial Phone') %>:</strong><%=h @student.comercial_phone %></p></td>
    <td><p><strong><%= _('Mobile Phone') %>:</strong><%=h @student.mobile_phone %></p></td>
  </tr>
  <tr>
    <td><p><strong><%= _('RG') %>:</strong><%=h @student.rg %></p></td>
    <td><p><strong><%= _('CPF') %>:</strong><%=h @student.cpf %></p></td>
  </tr>
  <tr>
    <td><p><strong><%= _('E-mail') %>:</strong><%=h @student.email %></p></td>
  </tr>
  <tr>
    <td><p><strong><%= _('Profession') %>:</strong><%=h @student.work_profession %></p></td>
    <td><p><strong><%= _('Company') %>:</strong><%=h @student.work_company %></p></td>
    <td><p><strong><%= _('Position') %>:</strong><%=h @student.work_position %></p></td>
  </tr>
</table>

<%= link_to _('Edit %s', _('Student')), edit_object_url %>

<h2>Contratos</h2>

<table style="width: 100%;">
  <tr>
    <th>&nbsp;</th>
    <th>Curso</th>
    <th>Matrícula</th>
    <th>Parcela</th>
    <th>#</th>
    <th>Total</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <%= render :partial => 'contract', :collection => @student.contracts %>

  <tr>
    <td colspan="9"><%= link_to _('New %s',_('Contract')), new_student_contract_url(@student) %>
  </tr>
</table>
