<p>
  <strong>Name:</strong><%=h @student.name %>
</p>
<p>
  <strong>Street:</strong><%=h @student.street %>
</p>
<p>
  <strong>Number:</strong><%=h @student.number %>
</p>
<p>
  <strong>Complement:</strong><%=h @student.complement %>
</p>
<p>
  <strong>Neighbourhood:</strong><%=h @student.neighbourhood %>
</p>
<p>
  <strong>Zip:</strong><%=h @student.zip %>
</p>
<p>
  <strong>Home phone:</strong><%=h @student.home_phone %>
</p>
<p>
  <strong>Comercial phone:</strong><%=h @student.comercial_phone %>
</p>
<p>
  <strong>Mobile phone:</strong><%=h @student.mobile_phone %>
</p>
<p>
  <strong>Cpf:</strong><%=h @student.cpf %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>