<table style="width: 100%; border: 1px solid #e9e9e9;">
  <tr>
    <td><p><strong>Name:</strong><%=h @student.name %></p></td>
    <td><p><strong>Nascimento:</strong> ??</p></td>
  </tr>
  <tr>
    <td><p><strong>Street:</strong><%=h @student.street %>, <%=h @student.number %>
        <%=h " - #{@student.complement}" if @student.complement %>
    </p></td>
    <td><p><strong>Neighbourhood:</strong><%=h @student.neighbourhood %></p></td>
  </tr>
  <tr>
    <td><p><strong>Zip:</strong><%=h @student.zip %></p></td>
    <td><p><strong>Cidade:</strong> ??</p></td>
    <td><p><strong>Estado:</strong> ??</p></td>
  </tr>
  <tr>
    <td><p><strong>Home phone:</strong><%=h @student.home_phone %></p></td>
    <td><p><strong>Comercial phone:</strong><%=h @student.comercial_phone %></p></td>
    <td><p><strong>Mobile phone:</strong><%=h @student.mobile_phone %></p></td>
  </tr>
  <tr>
    <td><p><strong>Identidade:</strong> ????</p></td>
    <td><p><strong>Cpf: </strong><%=h @student.cpf %></p></td>
  </tr>
  <tr>
    <td>Email, Profissao, Empresa, Cargo</td>
  </tr>
</table>

<%= link_to _('Edit %s', _('Student')), edit_object_url %>

<h2>Contratos</h2>

<table style="width: 100%;">
  <tr>
    <th>&nbsp;</th>
    <th>Curso</th>
    <th>Matrícula</th>
    <th>Parcela</th>
    <th>#</th>
    <th>Total</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

  <%= render :partial => 'contract', :collection => @student.contracts %>

  <tr>
    <td colspan="9"><%= link_to _('New %s',_('Contract')), new_student_contract_url(@student) %>
  </tr>
</table>
