<label class="large"><%=_ 'Name' %>
  <%= f.text_field :name, :class => "textfield" %>
</label>
<br/>

<label class="large"><%=_ 'Course' %>
  <%= f.collection_select :course_id, Course.find(:all), :id, :name, {}, :class => "select" %>
</label>
<br/>

<label class="large"><%=_ 'Classroom' %>
  <%= f.collection_select :classroom_id, Classroom.find(:all), :id, :name, {}, :class => "select" %>
</label>
<br/>

<label class="small"><%=_ 'Start Date' %>
  <%= text_field_with_js_mask :classe, :start_date, :class => "mask_date_br textfield" %>
</label>

<label class="small"><%=_ 'Start Time' %>
  <%= text_field_with_js_mask :classe, :start_time, :class => "mask_time textfield" %>
</label>

<label class="small"><%=_ 'End Time' %>
  <%= text_field_with_js_mask :classe, :end_time, :class => "mask_time textfield" %>
</label>
<br/>

<fieldset class="clearfix">
  <legend><%=_ 'Weekdays' %></legend>
  <% Classe::Weekdays.each do |w| %>
    <label class="small"><%= check_box_tag 'classe[weekdays][]', w, @classe.weekdays.include?(w) %><%= _(w.capitalize) %></label>
  <% end %>
</fieldset>
<br/>
