<%= error_messages_for :classe %>

<% javascript 'dynamic_teachers', 'date', 'lowpro', 'jsmask' %>

<% form_tag do %>
  <table class="edit_classe" style="border: 1px solid #e9e9e9; width: 100%; border-collapse: colapse;">
    <tr>
      <th><%=_ 'Disciplines'%></th>
      <th><%=_ 'Hour' %></th>
      <th><%=_ 'Date' %></th>
      <th><%=_ 'Lessons' %></th>
      <th><%=_ 'Classroom' %></th>
      <th id="teacher_select_label"><%=_ 'Teacher' %></th>
      <th>&nbsp;</th>
    </tr>
    <tr>
      <td>
        <%= select_tag :discipline_id, 
           select_default +
    options_from_collection_for_select(object.course.disciplines.find(:all), :id, :name), :class => "select" %>
      </td>
    
      <td>
        <%= text_field_tag_with_js_mask :start_time, _('(time)',@classe.start_time), :class => "mask_time textfield", :style => 'width: 50px; display: inline;' %>
        &nbsp; .. &nbsp;
        <%= text_field_tag_with_js_mask :end_time, _('(time)',@classe.end_time), :class => "mask_time textfield", :style => 'width: 50px; display: inline;' %>
      </td>
    
      <td>
        <%= text_field_tag_with_js_mask :start_date, _('(date)', @classe.start_date), :class => "mask_date_br textfield", :style => 'width: 80px; display: inline;' %>
      </td>
    
      <td>
        <%= text_field_tag :lessons_number, '', :class => "textfield", :maxlength => "2", :style => 'width: 20px; display: inline;' %>
      </td>
    
      <td>
        <%= select_tag :classroom_id, 
            options_from_collection_for_select(Classroom.find(:all), :id, :name, @classe.classroom_id), :class => "select" %>
      </td>
    
      <td>
        <%= select_tag :teacher_id, select_default, :class => "select" %>
      </td>
    
      <td>
        <label class="lblbutton" style="width: 95%;">
          <%= button_to_function _('Add Lessons'), "add_lessons();", :class => 'button' %>
        </label>
      </td>
    </tr>
  </table>
<% end %>

<br/>

<% form_for(:classe, :url => object_url, :html => { :method => :put, :id => 'edit_classe' }) do |f| %>

  <table class="edit_classe" style="width: 100%;">
    <thead>
      <tr>
        <% Classe::Weekdays.each do |w| %>
          <th colspan="2"><%=_(w[0,3].capitalize) %> <input type="checkbox" name="<%= w %>" id="<%= w %>" <%= "checked=\"checked\"" if @classe.weekdays.include?(w) %> /></th>
        <% end %>
      </tr>
    </thead>
  
      <%
      first_date = @classe.lessons.first.date rescue Date.today
      last_date = @classe.lessons.last.date rescue Date.today - 1.day
      %>
    
    <tbody id="calendar">
      <% (first_date..last_date).group_by(&:month).each do |month, group| %>
        <tr>
          <th colspan="14"><%= _('(month)', month) %></th>
        </tr>
        <% month_first_date = group.first.beginning_of_week - 1.day %>
        <% month_last_date = group.last.end_of_week - 1.day %>
    

      <% (month_first_date..month_last_date).to_a.in_groups_of(7) do |week| -%>
          <tr>
            <% week.each do |date| -%>
                <% if date < group.first || date > group.last %>
                <td></td><td></td>
              <% else %>
                <td style="width: 20px;">
                  <%= _('(day)',date) %>
                </td>
                <td style="width: 70px;">
                  <%= render :partial => 'lesson', :collection => @classe.lessons.select { |l| l.date == date } %>
                </td>
              <% end -%>
           <% end -%>
          </tr>
        <%- end -%>
  
      
      <% end %>
    </tbody>
  </table>
  <br/>
  <label class="lblbutton" style="width: 99.5%;">
    <%= submit_tag _('Save'), :class => 'button' %>
  </label>
<% end %>
  
<script type="text/javascript">
  function add_lessons() {
    var errors = new Array();
    
    var errors_test = (["discipline_id", "start_time", "end_time", "start_date","lessons_number"].each(function(item){
      if ($(item).getValue() == "" || $(item).getValue() == "select")
        {
          errors.push(item);
        }
      }));
      
      var itens = (["sunday","monday","tuesday", "wednesday", "thursday", "friday", "saturday"].find(function(item){
        return $(item).checked == true
      }));
      
      if (!itens)
        {
          errors.push("Dia da semana");
        }
        
        if (errors.length > 0)
          {
            result = "<p>Erros de preenchimento nos determinados campos: </p>";
            result += "<ul>";
            errors.each(function(item){
              result += "<li>" + item + "</li>";
            });
            
            result += "</ul>";
            
            Modalbox.alert(result);
            return;
          }
          
          lesson_date = Date.parse($('start_date').value);
          
          total_lessons = $("lessons_number").value;
          lessons_added = 0;
          while (lessons_added < total_lessons) {
            var tr = Builder.node('tr');
            
            ['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday'].each(function(weekday){
              discipline_id = $('discipline_id').getValue();
              discipline = disciplines.get(discipline_id);
              
              checkbox = $(weekday);
              lesson_date = eval("lesson_date.next()." + weekday + "();");
              
              if ((checkbox.checked === true) && (lessons_added < total_lessons)) {
                lessons_added++;
                
                var elements = new Array();
                elements.push(Builder.node('input', { type: 'hidden', name: create_name_for('discipline_id'), value: $("discipline_id").value }));
                elements.push(Builder.node('input', { type: 'hidden', name: create_name_for('start_time'), value: $("start_time").value }));
                elements.push(Builder.node('input', { type: 'hidden', name: create_name_for('end_time'), value: $("end_time").value }));
                elements.push(Builder.node('input', { type: 'hidden', name: create_name_for('date'), value: lesson_date.toString("dd/MM/yyyy") }));
                elements.push(Builder.node('input', { type: 'hidden', name: create_name_for('classroom_id'), value: $("classroom_id").value }));
                elements.push(Builder.node('input', { type: 'hidden', name: create_name_for('teacher_id'), value: $("teacher_id").value }));
                //elements.push(Builder.node('div', {}, lesson_date.toString("dd/MM/yyyy")));
                //elements.push(Builder.node('div', {}, discipline.name));
                
                var td = Builder.node('td', elements);
                tr.appendChild(td);
              } else {
              var td = Builder.node('td', Builder.node('span'));
              tr.appendChild(td);
            }
          });
          $('calendar').appendChild(tr);
        }
        $('edit_classe').submit();
      }
      
      function create_name_for(element) {
        result = 'classe[new_lesson_attributes][';
        result += '][';
        result += element;
        result += ']';
        return result;
      }
      </script>
