<%= link_add_to_remote %>

<table class="tbldata">
  <thead>
    <tr>
      <th><%=_ 'Classroom' %></th>
      <th><%=_ 'Discipline' %></th>
      <th><%=_ 'Teacher' %></th>
    </tr>
  </thead>
  <tbody>
    <%- @classes.each do |classe|%>
      <tr>
        <td><%=h classe.classroom %></td>
        <td><%=h classe.discipline %></td>
        <td><%=h classe.teacher %></td>
      
        <td><%= link_edit_to_remote(classe) %></td>
        <td><%= link_delete(classe) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
