<%= title_new :classe %>
<%= error_messages_for :classe %>

<% form_remote_for(:classe, :url => collection_url, :update => "box_form") do |f| %>
  <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>

    <p>
      <label><%=_ 'Start date' %>:</label>
      <%= f.text_field :start_date %>
    </p>
  
    <p>  
      <label><%=_ 'Start time' %>:</label>
      <%= f.text_field :start_time %>
    </p>
  
    <p>
      <label><%=_ 'End time' %>:</label>
      <%= f.text_field :end_time %>
    </p>
  
    <p>
      <% options = [["Domingo", :sunday], ["Segunda", :monday], ["Terça", :tuesday], ["Quarta", :wednesday], ["Quinta", :thursday], ["Sexta", :friday], ["Sábado", :saturday]] %>
      <label><%=_ 'Repeat on' %>:</label>
      <%= f.select :repeat_on, options %>
    </p>
  
    <p>
      <label><%=_ 'Lessons number' %>:</label>
      <%= f.text_field :lessons_number %>
    </p>
  
    <%= create_button_and_cancel_link_to_clear_box_form %>
  </fieldset>
<% end %>
