<div class="box_form">
<%= title_new :classe %>
<%= error_messages_for :classe %>

<% form_for(:classe, :url => collection_url) do |f| %>
   <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>
  <label class="x-small lblbutton"><%= submit_tag "Criar", :class => "button" %></label>
  <label class="x-small" style="text-align: right;"><%= link_to 'Cancelar', collection_url %></label>
  </fieldset>
<% end %>
<br/>
<%= link_to 'Back', collection_url %>
</div>