<label class="large">Nome <%= f.text_field :name, :class => "textfield" %></label><br />
<% unless parent_object -%>
<label class="large">Turma <%= f.collection_select :classe_id, Classe.find(:all), :id, :to_s %></label><br />
<% end -%>
<label class="large">Sala <%= f.collection_select :classroom_id, Classroom.find(:all), :id, :name %></label><br />
<label class="small">Começo <%= f.text_field :date, :class => "textfield" %></label>
<label class="x-small">Inicio <%= f.text_field :start_time, :class => "textfield" %></label>
<label class="x-small">Fim <%= f.text_field :end_time, :class => "textfield" %></label><br />