<p>
  <label for="lesson_name">Nome:</label>
  <%= f.text_field :name %>
</p>

<% unless parent_object -%>
<p>
  <label for="lesson_classe_id">Turma:</label>
  <%= f.collection_select :classe_id, Classe.find(:all), :id, :to_s %>
</p>
<% end -%>

<p>
  <label for="lesson_classroom_id">Sala:</label>
  <%= f.collection_select :classroom_id, Classroom.find(:all), :id, :name %>
</p>

<p>
  <label for="lesson_date">Começo:</label>
  <%= f.text_field :date %>
</p>

<p>
  <label for="lesson_start_time">Inicio:</label>
  <%= f.text_field :start_time %>
</p>

<p>
  <label for="lesson_end_time">Fim:</label>
  <%= f.text_field :end_time %>
</p>
