<h1>Listing Lessons</h1>

<!-- table>
  <tr>
    <th>Name</th>
    <th>Discipline</th>
    <th>Datetime start</th>
    <th>Datetime end</th>
  </tr>
  <%- @lessons.each do |lesson|%>
    <tr>
      <td><%=h lesson.name %></td>
      <td><%=h lesson.discipline %></td>
      <td><%=h lesson.datetime_start %></td>
      <td><%=h lesson.datetime_end %></td>
    
      <td><%=link_to 'Show', object_url(lesson) %></td>
      <td><%=link_to 'Edit', edit_object_url(lesson) %></td>
      <td><%=link_to 'Destroy', object_url(lesson), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table -->

<p>
<%= link_to 'New Lesson', new_object_url %>
|
<%= link_to_if parent_object, 'Back', parent_object %>
</p>

<table style="border: 1px solid gray" border="1">

  <tr>
    <% ["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sábado"].each do |day| -%>
      <th><%= day %></th>
    <% end -%>
  </tr>

<% ((@start_date.beginning_of_week - 1.day)..@end_date).to_a.in_groups_of(7) do |week| -%>
  <tr>
    <% week.each do |date| -%>
      <th><%= date.to_s_br if date && (date >= @start_date) %></th>
    <% end -%>
  </tr>

  <tr>
    <% week.each do |date| -%>
      <td style="height: 100px;">

    <% lessons = @lessons.select {|lesson| lesson.datetime_start.to_date == date }%>
    <% lessons.each do |lesson| %>
      <%=link_to lesson.to_calendar, edit_object_url(lesson) %>
       - 
      <%=link_to 'X', object_url(lesson), :confirm => 'Are you sure?', :method => :delete %>
      <br/>
    <% end %>
    
      </td>
    <% end -%>
  </tr>
<% end -%>
</table>
