<% javascript 'dynamic_teachers' %>

<style type="text/css">
  div#droppable_container { height:140px; width: 700px; }
  div.draggable {cursor: move;}
  div#draggable_demo { width:60px; height:60px; cursor:move; background:#9fcfba; border:1px solid #666; text-align:center; }
  div#droppable_demo { width:160px; height:120px; background:#ffffff; border:5px solid #ccc; text-align:center; position:relative; top:-60px; left:140px; line-height:100px; }
  div#droppable_demo.hover { border:5px dashed #aaa; background:#efefef; }
  </style>

<form id="lessons">

<div style="margin: 40px;">
  <!-- div class="demo" id="droppable_container" -->

    <table style="border: 1px solid #e9e9e9; width: 25%; border-collapse: colapse; float: right;">

      <tr><th><%=_ 'Disciplines'%></th></tr>
      <tr>
        <td>
        <%= select_tag :discipline_id, 
         select_default +
 options_from_collection_for_select(parent_object.course.disciplines.find(:all), :id, :name), :class => "select" %>
        </td>
      </tr>
      
      <% #- parent_object.course.disciplines.each do |discipline| -%>
        <!-- tr><td>
          <div id="<% #= discipline.dom_id %>" class="draggable"><% #= discipline %></div>
        </td></tr -->
      <% #- end -%>
      
      <tr><th><%=_ 'Hour' %></th></tr>
      <tr>
        <td>
          <label class="x-small"><%= text_field_tag_with_js_mask :start_time,'', :class => "mask_time textfield" %></label>
          <label>..</label>
          <label class="x-small"><%= text_field_tag_with_js_mask :end_time,'', :class => "mask_time textfield" %></label>
        </td>
      </tr>

      <tr><th><%=_ 'Date' %></th></tr>
      <tr>
        <td>
          <label class="small"><%= text_field_tag_with_js_mask :start_date,'', :class => "mask_date_br textfield" %></label>
       
        </td>
      </tr>

      <tr><th><%=_ 'Lessons' %></th></tr>
      <tr>
        <td>
          <label class="x-small"><%= text_field_tag :lessons_number, '', :class => "textfield", :maxlength => "2" %></label>
        </td>
      </tr>

      <tr><th><%=_ 'Classroom' %></th></tr>
      <tr>
        <td>
        <%= select_tag :classroom_id, 
          options_from_collection_for_select(Classroom.find(:all), :id, :name), :class => "select" %>
        </td>
      </tr>

      <tr><th id="teacher_select_label"><%=_ 'Teacher' %></th></tr>
      <tr>
        <td>
        <%= select_tag :teacher_id, select_default, :class => "select" %>
        </td>
      </tr>

      <tr>
        <td>
        <%= button_to_function _('Go!'), "go();" %>
        </td>
      </tr>
    </table>

    <table style="border: 1px solid #e9e9e9; width: 70%; border-collapse: colapse;">
      <thead>
        <tr>
          <th><%=_ 'Sun' %> <input type="checkbox" name="sunday" id="sunday" /></th>
          <th><%=_ 'Mon' %> <input type="checkbox" name="monday" id="monday" /></th>
          <th><%=_ 'Tue' %> <input type="checkbox" name="tuesday" id="tuesday" /></th>
          <th><%=_ 'Wed' %> <input type="checkbox" name="wednesday" id="wednesday" /></th>
          <th><%=_ 'Thu' %> <input type="checkbox" name="thursday" id="thursday" /></th>
          <th><%=_ 'Fri' %> <input type="checkbox" name="friday" id="friday" /></th>
          <th><%=_ 'Sat' %> <input type="checkbox" name="saturday" id="saturday" /></th>
        </tr>
      </thead>
      
      <tbody id="go_here">
        <tr>
          <!-- td id="drop_here" colspan="7" style="background-color: #faf; text-align: center;">Arraste aqui!</td -->
          <td>&nbsp;</td>
        </tr>		
      </tbody>
    </table>
  <!-- /div -->
</div>

<script type="text/javascript">
  
  var weekdays = $H({
    sunday: 0,
    monday: 1,
    tuesday: 2,
    wednesday: 3,
    thursday: 4,
    friday: 5,
    saturday: 6,
  });

  function go(){

    var errors = new Array();

    var errors_test = (["discipline_id", "start_time", "end_time", "start_date","lessons_number"].each(function(item){
      if ($(item).getValue() == "" || $(item).getValue() == "select")
      {
         errors.push(item);
      }
    }));

    var itens = (["sunday","monday","tuesday", "wednesday", "thursday", "friday", "saturday"].find(function(item){
    return $(item).checked == true
    }));
    
    if (!itens)
    {
      errors.push("Dia da semana");
    }

    if (errors.length > 0)
    {
      result = "<p>Erros de preenchimento nos determinados campos: </p>";
      result += "<ul>";
      errors.each(function(item){
      result += "<li>" + item + "</li>";
    });

    result += "</ul>";

    Modalbox.alert(result);
    return;
    }


  




    lesson_date = Date.parse($('start_date').value);


    total_lessons = $("lessons_number").value;
    total_lessons_partial = 0;
    result = ""
    while (total_lessons_partial < total_lessons) {
      result += "<tr>"
      weekdays.each(function(pair){
        checkbox = $(pair.key)
        lesson_date = eval("lesson_date.next()." + pair.key + "();");
        if ((checkbox.checked === true) && (total_lessons_partial < total_lessons)) {
          //result += "<td>"+ $("discipline_id").value +"</td>";
          result += "<td>"+ lesson_date.toString("dd/MM/yyyy") +"</td>";
          total_lessons_partial++;
//var element = Builder.node('input', { type: 'hidden', name: 'lala', value: 'lele' });
        } else {
          result += "<td>&nbsp;</td>";
        }
      });
      result += "</tr>";
    }
    $("go_here").insert(result, { position: 'top' });
}
  
  </script>
</form>