<p>
  <strong>Name:</strong><%=h @lesson.name %>
</p>
<p>
  <strong>Turma:</strong><%=h @lesson.classe %>
</p>
<p>
  <strong>Date:</strong><%=h @lesson.date %>
</p>
<p>
  <strong>Hour:</strong><%=h @lesson.start_time %> to <%=h @lesson.end_time %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>