<p>
  <strong>Name:</strong><%=h @lesson.name %>
</p>
<p>
  <strong>Discipline:</strong><%=h @lesson.discipline %>
</p>
<p>
  <strong>Datetime start:</strong><%=h @lesson.datetime_start %>
</p>
<p>
  <strong>Datetime end:</strong><%=h @lesson.datetime_end %>
</p>

<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>