<label class="large"><%=_ 'Name' %> <%= f.text_field :name, :class => "textfield" %></label>
<label class="small"><%=_ 'Autodesk code' %> <%= f.text_field :autodesk_code, :class => "textfield" %></label><br />

<fieldset class="clearfix" style="margin: 0 0 10px 0;">
	<legend><%=_ 'Disciplines' %></legend>
	<%= collection_multiple_select('teacher', 'can_teach_ids', Discipline.find(:all), :id, :name) %>	
</fieldset>