<%= link_add_to_remote %>

<table class="tbldata">
  <thead>
    <tr>
      <th><%=_ 'Name' %></th>
    </tr>
  </thead>
  <tbody>
    <%- @teachers.each do |teacher|%>
      <tr>
        <td><%=h teacher.name %></td>
      
        <td><%= link_edit_to_remote(teacher) %></td>
        <td><%= link_delete(teacher) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
