<label class="small"><%=_ 'Name' %>
  <%= f.text_field :name, :class => "textfield" %>
</label>

<label class="x-small"><%=_ 'Color' %>
  <%= f.text_field :color, :class => "textfield" %>
</label>

<script type="text/javascript">
// <![CDATA[
  new Control.ColorPicker("course_color", { IMAGE_BASE : "images/colorpicker/" });
// ]]>
</script>
<br/>

<fieldset class="clearfix" style="margin: 0 0 10px 0;">
  <legend><%=_ 'Disciplines' %></legend>
  <%= collection_multiple_select('course', 'discipline_ids', Discipline.find(:all, :order => 'name'), :id, :name, :outer_class => 'outer_multiple_select', :inner_class => 'inner_multiple_select') %>	
</fieldset>
