<%= link_add_to_remote %>

<table class="tbldata">
  <thead>
    <tr>
      <th><%=_ 'Name' %></th>
      <th><%=_ 'Color' %></th>
    </tr>
  </thead>
  <tbody>
    <%- @courses.each do |course|%>
      <tr>
        <td><%=h course.name %></td>
        <td style="background-color: #<%=h course.color %>;"><%=h course.color %></td>
      
        <td><%= link_edit_to_remote(course) %></td>
        <td><%= link_delete(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
